body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 5%;
    margin-top: 5%;
}

.header {
    width: 100%;
    text-align: center;
}

.logo {
    max-width: 80%;
}

.subheading {
    font-family: cursive;
    font-size: 150%;
    margin-top: 10%;
    color: #e48fb9;
}

h1 {
    font-family: 'Arial',sans-serif;
    margin-bottom: 15%;
    margin-top: 1%;
    color: #757579;
}

h2 {
    font-size: 20px;
    font-weight: bold;
}

.rounded {
    border-radius: 10px;
}

.details {
    text-align: left;
    margin-left: 10px;
}

.description {
    font-family: 'Times New Roman', serif;
    font-size: 17px;
    text-align: left;
}

.menu {
    max-width: 90%;
    width: 100%;
}

.menu-item {
    display: flex;
    margin-bottom: 25px;
}
    
.menu-image-rounded {
    width: 150px;
    height: 150px;
    border-radius: 10%;
    margin-right: 25px;
}